<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    <link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="manifest" href="icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>{| title |} | Login</title>

    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.css"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

    <link href="stylesheets/auth.css" rel="stylesheet">
  </head>
  <body>
    <div id="app">
      <b-container>
        <div>
          <b-card-group deck>
            <b-card v-if="loading">
              <b-skeleton animation="wave" width="85%"></b-skeleton>
              <b-skeleton animation="wave" width="55%"></b-skeleton>
              <b-skeleton animation="wave" width="70%"></b-skeleton>
            </b-card>

            <b-card
              v-if="!loading"
              header="{| title |}"
              header-tag="header"
              >
              <b-form @submit.prevent="submit('login')" @reset.prevent="onReset" v-if="show">
                <b-form-group
                  id="input-group-1"
                  label="Email address:"
                  label-for="input-1"
                  >
                  <b-form-input
                    id="input-1"
                    v-model="form.email"
                    type="email"
                    placeholder="Enter email"
                    required
                    ></b-form-input>
                </b-form-group>

                <b-form-group type="password" id="input-group-2" label="Your Password:" label-for="input-2">
                  <b-form-input
                    id="input-2"
                    type="password"
                    v-model="form.password"
                    placeholder="Enter password"
                    required
                    ></b-form-input>
                </b-form-group>

                <b-button type="submit" variant="primary"><b-spinner small v-if="spinner.login"></b-spinner> Login</b-button>
                <b-button type="button" variant="secondary" v-on:click="submit('register')"><b-spinner small v-if="spinner.register"></b-spinner> Register</b-button>

                <b-alert variant="danger" v-if="form.hasError" show class="mt-4" v-html="form.message"></b-alert>
              </b-form>
            </b-card>
          </b-card-group>
        </div>
      </b-container>
    </div>

    <span id="app-base" style="display:none;">{| base |}</span>

    {|# reset |}
    <script>localStorage.clear();window.history.replaceState({}, document.title, "/");</script>
    {|/ reset |}

    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"></script>
    <script src="https://unpkg.com/http-vue-loader@1.4.2/src/httpVueLoader.js"></script>

    <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@2.21.2/dist/bootstrap-vue-icons.min.js"></script>

    <script src="javascripts/sodium.js"></script>
    <script src="javascripts/webgl.js"></script>
    <script src="javascripts/so-auth.js"></script>
    <script src="javascripts/auth.js"></script>
  </body>
</html>
